<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Senac News</title>
    <link rel="stylesheet" href="/single.css" />
  </head>
  <body>
    <header>
      <h1>SENAC NEWS</h1>
    </header>

    <section>
      <h2>Artigo de Opinião</h2>
      <h1>Covid-19</h1>
      <h3>Arthur Costa</h3>
    </section>

    <main>
      <p>
        A Covid-19 chegou e mudou completamente nossas vidas, isso é fato. Mas
        algo que tem sido notável é a negligência da grande maioria das pessoas
        em relação ao que é pedido pelos mais renomados médicos e cientistas: O
        distanciamento social e o cumprimento dos protocolos de segurança.
        Infelizmente, isso não vem acontecendo. O descumprimento da Quarentena
        se torna, a cada dia, algo mais recorrente e inevitável. Uma vez que as
        pessoas sequer acompanham as notícias hoje em dia, dificultando assim, a
        conscientização. Mas em minha opinião, a conscientização se torna mais
        difícil ainda a partir do ponto em que o retorno das aulas presenciais é
        obrigatório, forçando a população mais jovem a se expor ao vírus e
        correr risco de contaminar seus familiares mais velhos dentro de casa.
        Atualmente, sai quem quer se expor, por sua própria conta e risco, mas
        obrigar as pessoas a tal, jamais será visto como correto na minha visão.
        Apesar da drástica diminuição do número de casos, não podemos esquecer
        de que ainda há pessoas morrendo e se contaminando, ou seja, é de suma
        importância que se cumpra o distanciamento social e os rígidos
        protocolos de segurança para que possamos atravessar tal cenário o
        quanto antes. A partir disto, concluo que o ser humano, até mesmo em
        situações de risco extremo e ameaça mundial, consegue ser
        verdadeiramente egocentrista. Enquanto alguns cumprem os protocolos e se
        cuidam, outros fazem o que bem entendem pensando apenas no seu próprio
        umbigo, dificultando o encerramento desse período mundial que estamos
        vivendo.
      </p>
    </main>
  </body>
</html>
