<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Senac News</title>
    <link rel="stylesheet" href="/single.css" />
  </head>
  <body>
    <header>
      <h1>SENAC NEWS</h1>
    </header>

    <section>
      <h2>Artigo de Opinião</h2>
      <h1>Monark e a exposição de opinião de figuras públicas</h1>
      <h3>Fabricio Rech</h3>
    </section>

    <main>
      <p>
        O fato é que atualmente com a simplicidade de se popularizar pela
        internet, muitas pessoas começaram a expor suas próprias opiniões em
        relações a diversos temas, porém com essa possibilidade, muitas coisas
        são faladas sem preparo ou estudo, usando basicamente qualquer coisa que
        vier a cabeça para se discutir, o que se feito da maneira correta, pode
        ajudar muito no aprofundamento das pessoas em relação ao tema, porém, na
        grande maioria das vezes isso é feito com despreparo, o que causa muita
        desinformação, e até mesmo espalhando opiniões preconceituosas e
        tóxicas, com muitos exemplos a serem citados no momento atual, como o
        Monark, espalhando e disseminando ideias racistas, ou o Breier, que
        incita mulheres quase como objetos, incentivando seus seguidores a terem
        requisitos para ficar com garotas e coisas do tipo. O despreparo dessas
        pessoas causa consequências terríveis, principalmente devido ao fato de
        que a maior parte do público desses criadores de conteúdo são
        adolescentes/jovens-adultos que são grandes massas de manobra, já que
        eles têm opiniões malformadas, e são facilmente influenciados. Isso pode
        trazer grandes problemas no futuro, os números de casos de preconceito
        dentro da internet só crescem, e atitudes e falas mal formuladas podem
        apenas piorar essa situação.
      </p>
    </main>
  </body>
</html>
