<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Senac News</title>
    <link rel="stylesheet" href="/single.css" />
  </head>
  <body>
    <header>
      <h1>SENAC NEWS</h1>
    </header>

    <section>
      <h2>Artigo de Opinião</h2>
      <h1>Treinamento de alto rendimento faz bem para a saúde?</h1>
      <h3>Pedro Petrini</h3>
    </section>

    <main>
      <p>
        A atividade física para o trabalho da nossa saúde é muito boa, nos ajuda
        com o estresse, aumenta nossa imunidade, traz o sentimento de felicidade
        e entre outras coisas. O treino que muitos fazem é considerado um treino
        leve, apenas vai a academia e faz uma caminhada, bicicleta ou puxa peso
        com uma carga que não te deixe fadigado.
      </p>

      <p>
        Quando você fala sobre o treino de alto rendimento esportivo ou um
        treino em “nível atleta”, muitas pessoas não sabem que este estilo de
        treino pode ser ruim, tudo em excesso é ruim para a saúde na verdade...
        não é diferente neste caso.
      </p>

      <p>
        Treinar demais pode ser ruim para a saúde, você pode desenvolver alguns
        problemas como overreaching ou overtraining. Resultando em sintomas
        como, sono desregulado, dor nas articulações e entre outros problemas.
        Cuidado com o que você pensa sobre treinamento de alto rendimento.
        Muitos atletas treinam em um nível que que pode o levar a ter uma lesão
        ou alguma dor repentina.
      </p>

      <p>
        Tudo em excesso é ruim para a saúde, tome cuidado com o que você anda
        fazendo com seu corpo, ele pode não aguentar os estímulos que você está
        dando e isso pode te machucar em um nível grave.
      </p>
    </main>
  </body>
</html>
