<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Senac News</title>
    <link rel="stylesheet" href="/single.css" />
  </head>
  <body>
    <header>
      <h1>SENAC NEWS</h1>
    </header>

    <section>
      <h3>CRÔNICA - ARTHUR COSTA</h3>
    </section>

    <main>
      <p>
        Experimente morar em um apartamento grande. Muitas portas, janelas,
        cômodos. Se além dele, você tem a sorte de ter outras casas, uma na
        praia, a casa da mãe, do irmão, está perdido! Todas essas casas, todas
        suas portas, de entrada, de saída, do portão, da garagem, todas precisam
        de chaves! Ou seja, precisam de atenção, cuidado extremo para escolher o
        chaveiro certo e nunca mais perdê-lo de vista! Junto com essas chaves,
        ainda existem outras milhares! Chaves do escritório, do carro, do
        cofre... Infinitas chaves de tudo que é coisa! Chaves de todos os
        tamanhos, modelos e idades em diferentes chaveiros. Nunca acertei a
        chave certa na hora de abrir o portão! Sempre erro uma ou duas vezes.
        Existe o portão do pátio, da garagem, o da escadaria e a do apartamento.
        É muita chave para lembrar! O mais frustrante de tudo é que todas as
        portas permanecem imóveis diante das inúmeras tentativas de abrilas.
        Cansei de fechar todas as portas, todas as coisas! Quero viver num lugar
        em que tudo possa ficar aberto. Principalmente o coração!
      </p>
    </main>
  </body>
</html>
