<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Senac News</title>
  <link rel="stylesheet" href="/single.css" />
</head>

<body>
  <header>
    <h1>SENAC NEWS</h1>
  </header>

  <section>
    <h2>Crônica</h2>
    <h1>Amor</h1>
    <h3>Fabricio Rech</h3>
  </section>

  <main>
    <p>
      O amor, ele é complicado sabe, uma hora a gente ta maluco querendo ver a pessoa, e na outra percebe que talvez
      fosse melhor não, a gente sente algo gigantesco, mas é a pessoa mostrar que ela n sente o mesmo, que a gente
      desaba, o mundo perde a cor, e parece que voltamos pra estaca zero, tudo que a gente batalhou tanto pra ter foi
      jogado fora por alguém que não nos valoriza. Às vezes, é melhor gostar de si mesmo, antes de gostar do outro,
      porque a vida não é facil e a única pessoa que a gente tem certeza que vai estar conosco sempre é nós mesmos. As
      vezes perdoar é pior do que o próprio ato que fora perdoado, talvez, só se aprenda a lição dessa maneira.
    </p>
  </main>
</body>

</html>