<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Senac News</title>
    <link rel="stylesheet" href="/single.css" />
  </head>
  <body>
    <header>
      <h1>SENAC NEWS</h1>
    </header>

    <section>
      <h2>Crônica</h2>
      <h1>Covid-19</h1>
      <h3>Lucas Arieta</h3>
    </section>

    <main>
      <p>
        Atualmente, em função da pandemia, todos tiveram que se adaptar a uma
        realidade totalmente nova na qual ninguém estava acostumado. Como
        resultado, acredito que todos tiveram um desgaste na sua saúde mental, o
        que é completamente normal considerando a nossa realidade. Citando a
        própria OMS: "Saúde é o estado de completo bem-estar físico, mental e
        social e não somente a ausência da doença".
      </p>
      <p>
        Na minha opinião, parte disso é porque são poucas as pessoas que admitem
        que de fato tem um problema e acabam ficando sobrecarregados de
        pensamentos dos quais não se tem estrutura para lidar sozinho. Ou seja,
        se as pessoas conseguissem aceitar o fato de que nem sempre as coisas
        estão bem e que isso é uma coisa normal, talvez elas não passassem tanto
        sufoco tentando resolver seus problemas. A série Ginny e Georgia, da
        Netflix, faz uma referência na qual relaciona terapia como uma
        manutenção, como limpar os dentes, só que nesse caso seria como fazer
        uma limpeza no cérebro. Porém, muitas pessoas rejeitam a ideia da
        terapia, e segundo a psicóloga Daniele Abreu, é porque isso nos tira da
        nossa zona de conforto, o que nem sempre é fácil para todos.
      </p>
      <p>
        Portanto, o primeiro passo que deve ser feito é admitir que não está
        tudo bem e que não há nenhum problema nisso, e então procurar ajuda. É
        preciso se ter bem claro que esse momento não está sendo fácil para
        ninguém, e que se você começar a conversar sobre isso com alguém já
        ajuda a aliviar a tua mente e talvez até a daquela pessoa. Então, a
        pergunta que fica é: porque insistir na sensação de estar se afogando em
        pensamentos que não te fazem bem? Às vezes, só precisamos de alguém para
        nos ouvir.
      </p>
    </main>
  </body>
</html>
