<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Senac News</title>
    <link rel="stylesheet" href="/single.css" />
  </head>
  <body>
    <header>
      <h1>SENAC NEWS</h1>
    </header>

    <section>
      <h3>CRÔNICA - PEDRO PETRINI</h3>
    </section>

    <main>
      <p>
        Academia, um lugar frequentado por muitas pessoas e o mais interessante
        é que cada um está lá por algum motivo específico. Muitas vezes no meu
        dia a dia eu olho para as pessoas que estão comigo treinando e penso:
        “porque será que aquela pessoa vem aqui? “. Eu vou na academia porque
        quero me tornar um atleta, mas nem todos vão por esse motivo. Parei para
        pensar mais a fundo, eu não vou apenas por questão de profissionalismo,
        eu vou porque também é algo que me faz bem, me deixa feliz e eu consigo
        “descarregar”. É muito satisfatório ver todo seu esforço virando
        resultados, tanto físicos quanto psicológicos.
      </p>
      <p>
        Todos os dias que vou na academia eu vejo uma pessoa mais ou menos da
        minha idade, já a vejo a mais de 8 meses treinando no mesmo horário que
        eu. Uma coisa que nós temos de diferente é que eu comecei a treinar
        puxando menos carga que ele, e hoje em dia ele continua com a mesma
        carga de antes, já eu mudei e estou mais forte que ele em questão de
        quanto peso consigo levantar. Certo dia eu pensei nisso, será que ele
        “cansou de evoluir”? Ele continua com o mesmo peso do começo e nessa
        altura ele poderia ir mais além, porém eu não sei a resposta para isso.
        Quem sabe quando eu estiver escrevendo outra crônica eu já saiba a
        resposta. Isso é um pedaço do meu dia; obrigado por ler.
      </p>
    </main>
  </body>
</html>
