<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Senac News</title>
    <link rel="stylesheet" href="/single.css" />
  </head>
  <body>
    <header>
      <h1>SENAC NEWS</h1>
    </header>

    <section>
      <h3>CRÔNICA - SAMUEL VOLPI</h3>
    </section>

    <main>
      <p>
        Saí da festa, nos horrores do halloween. Vi os meliantes vindo de longe,
        avisei os amigos, que, distraídos, não me ouviram. Gritos, armas,
        celulares roubados e polícia. Mas o verdadeiro assalto veio depois: no
        site da magazine luiza, um aparelho novo por 4 mil reais: “Isso é um
        assalto!”.
      </p>
    </main>
  </body>
</html>
